body
        {
            background-color: 	#f0fdff;
        }
       
        .box1 div
        {
            margin: 10px 0px;
        }

        #class1
        {
            margin-left: 64px;
        }

 #class2
        {
            margin-left: 49px;
        }
        
          table, th, td
{
border: 1px solid black;
}
            
            td
            {
                
                width:auto;
                
                }


.loading
        {
            position: absolute;
            top:200px;
            left: 300px;
        }
