      #trouble_dec
           {
               margin-top:10px;
               }
               
                table, th, td
        {
            border: 1px solid black;
        }
        
        td
        {
            width: auto;
        }

  
body
        {
            background-color: 	#f0fdff;
        }
        .currentdiv
        {

          margin-left: 10px;
          margin-top: 10px;
        }
        .currentdiv div
        {
            margin-bottom: 3px;
        }
