#head
        {
            height:50px;
            background-color:skyblue;
            border: 1px black solid;
            }
            h1
            {
                display:block;
                width:500px;
                margin:0 auto;
                 font-weight:bold;
            margin-left: 550px;
            margin-top: 10px;
            font-size: 30px;
                }
        #left
        {
            width: 195px;
            /* height: 560px; */
            height: 100%;
            background-color:skyblue;
            float: left;
            margin-left: 5px;
            }
            
            #right
            {
                width: 200px;
                /* height: 200px; */
                height: 100%;
               margin-left: 200px;
                
                }
                img{
                    /* width: 1125px;
                    height: 560px; */
                    width: 600%;
                    height: 100%;
                }
                 #body
                {
                    background-color:skyblue;
                }
