  body
      {
          background-color: #6495ED;
      }
.nav
{
 margin-bottom: 30px;

}
      .nav div
      {
        margin-top: 10px;
        margin-left: 20px;
      }

      
      table, th, td
{
border: 1px solid black;
}
            
            td
            {
                
                width:auto;
                 background-color:white;
                }

 .time
      {
          width: 20px;
      }
