 body
        {
            -webkit-touch-callout: none;
            -webkit-text-size-adjust: none;
            background-color: #F8F8F8;
         
           font-size: x-large;
               
        }
