  body{
        background-color: 	#B0E0E6;
      }
        .current div{
            margin-bottom: 10px;
        }
        .app
        {
            margin-top: 20px;
            margin-left: 10px;
        }

        .btn
  {
    display: inline-block;
    /* display: block; */
  width: 100px;
  /* vertical-align: middle; */
  /* position: relative; */
  border: 0;
  cursor: pointer;
  height: 40px;
  line-height: 41px;
  line-height: 40px/9;
  background-color: #4e63f2;
  border-radius: 10px 10px 10px 10px;
  font-size: 17px;
  box-shadow: none;
  font-weight: 400;
  outline: 0;
  letter-spacing: normal;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

select
{
    font-size: 20px;
}
.time
{
    width: 50px;
}
table, th, td
{
border: 1px solid black;
}
            
            td
            {
                
                width:auto;
                
                }
