body{
        background-color: 	#FFFFFF;
      }
      .title
      {
          margin-left: 100px;
          margin-top: 40px;
      }
      .title h1
      {
          font-size: 20px;
      }
        .login {
   overflow:hidden; 
   width:100%;
   font-size: 17px;
   /* margin: 0 auto; */
  margin-top: 80px;
  margin-left: 10%;
   }
   .login div{
       margin-bottom: 10px;
   }
   #job
   {
       width: 70%;
       height: 30px;
       font-size: 20px;
   }
/* .login .login-item { 
  padding:10px 0; 
  overflow:hidden; 
  clear:both; 
  line-height:25px;
  padding:0px;
  }
.login .login-item label { 
  float:left; 
text-align:right;
 width:80px;
 font-size: 20px;
 } */
 .login .login-item input
 {
    font-size: 18px;
 }
/* .login .login-item div { 
  float:left;
  } */

.login .login-tools { 
  text-align:center;
  margin-top: 10px;
      position: relative;
    right:18%;
  }
  .login .login-tools button{
    /* margin-left: 20%; */
    font-size: 17px;

  }
  .btn
  {
    /* display: inline-block; */
    display: block;
  width: 70%;
  /* vertical-align: middle; */
  /* position: relative; */
  border: 0;
  cursor: pointer;
  height: 40px;
  line-height: 41px;
  line-height: 40px/9;  
  background-color: #FB7299;
  border-radius: 10px 10px 10px 10px;
  font-size: 17px;
  box-shadow: none;
  font-weight: 400;
  outline: 0;
  letter-spacing: normal;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.box1
{
    margin-top:10px;
    
    }

        .box1 [type="text"]
        {
            outline: 0;
            border:0;
            background: transparent;
            font-size: 18px;
        }
        
         .box1 [type="password"]
        {
            outline: 0;
            border:0;
            background: transparent;
            font-size: 18px;
        }
        
        .box1 span
        {
            width: 70%;
            border: 2px solid #c4c7ce;
            border-radius: 10px 10px 10px 10px;
            display: inline-block;
            background-color: white;
        }
