body{
        /* background-color: #B0E0E6; */
        background-color: #FFFFFF;
      }
      h2
      {
          margin-bottom: 5px;
      }
        .box1
        {
            margin-top: 10px;
            margin-left: 10px;
            font-size: 18px;
        }
        .box1 div
        {
            margin-bottom: 10px;
        }

 
        .box1 [type="text"]
        {
            outline: 0;
            border:0;
            background: transparent;
            font-size: 18px;
        }
        .box1 span
        {
            width: 70%;
            border: 2px solid #c4c7ce;
            border-radius: 10px 10px 10px 10px;
            display: inline-block;
            background-color: white;
        }
        .box1 .spgray{
            background-color:#DCDCDC;
        }
        
        .box1 .spgray2
        {
            width: 20%;
            border: 2px solid #c4c7ce;
            border-radius: 10px 10px 10px 10px;
            display: inline-block;
            background-color:#DCDCDC;
        }

      #businessdiv
      {
        position: absolute;
        top:10px;
      }

        .box2
        {
            margin-top: 10px;
            margin-left: 10px;
            font-size: 18px;
        }
        .box2 div
        {
            margin-bottom: 10px;
        }
 
        .box2 [type="text"]
        {
            outline: 0;
            border:0;
            background: transparent;
            font-size: 18px;
        }
        .box2 span
        {
            width: 50%;
            border: 2px solid #c4c7ce;
            border-radius: 10px 10px 10px 10px;
            display: inline-block;
            background-color: white;
        }
        .box2 select
        {
           font-size: 20px;
            
            }
        
        .box2 textarea
        {
            font-size: 18px;
            border:1px solid black;
            }
        .spnormal
        {
            width: 30%;
        }

        .sRight
        {
            margin-left: 20px;
        }

        .btn
  {
    display: inline-block;
    /* display: block; */
  width: 30%;
  /* vertical-align: middle; */
  /* position: relative; */
  border: 0;
  cursor: pointer;
  height: 40px;
  line-height: 41px;
  line-height: 40px/9;  
  background-color: #FB7299;
  border-radius: 10px 10px 10px 10px;
  font-size: 17px;
  box-shadow: none;
  font-weight: 400;
  outline: 0;
  letter-spacing: normal;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
